<template>
  <div class="container py-5">
    <datavue source="/products" per-page="10">
      <template #title>
        <h2>Products Table</h2>
      </template>
      <template #head="{ sort, sortable }">
        <tr>
          <th :class="sortable('name')" @click="sort('name')">Name</th>
          <th :class="sortable('price')" @click="sort('price')">Price</th>
        </tr>
      </template>
      <template #body="{ records }">
        <tr v-for="product in records" :key="product.id">
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
        </tr>
      </template>
    </datavue>
  </div>
</template>
